<head>
  <link href="./thumbnails.css" rel="stylesheet" type="text/css">
  <script src="../jquery-2.1.4.js"></script>
  <script src="./thumbnails.js" type="text/javascript">

  </script>
</head>

<body>
  <section class="thumbnails group">
    <feature class="active"></feature>

    <section class="gutter-images group">
      <img src="http://placecorgi.com/261/180" />
      <img src="http://placekitten.com/261/180" />
      <img src="http://placecorgi.com/262/180" />
      <img src="http://placekitten.com/262/180" />
      <img src="http://placecorgi.com/263/180" />
      <img src="http://placecorgi.com/260/180" />
      <img src="http://placekitten.com/264/180" />
      <img src="http://placecorgi.com/259/180" />
      <img src="http://placekitten.com/258/180" />
      <img src="http://placecorgi.com/257/180" />
      <img src="http://placecorgi.com/265/180" />
      <img src="http://placekitten.com/260/180" />
      <img src="http://placecorgi.com/255/180" />
      <img src="http://placekitten.com/267/180" />
      <img src="http://placecorgi.com/254/180" />
    </section>
  </section>

  <script>
  $(function() {
    $(".thumbnails").thumbnail();
  })
  </script>
</body>
