a, li, ul, html, body, p, section, figure, button, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
  background: transparent;
  outline: 0;
}

ul {
  list-style: none;
}

.group:after{
  content: "";
  clear: both;
  display: block;
}

.thumbnails {
  width: 600px;
  margin: auto;
}

.thumbnails .active {
  display: block;
  width: 100%;
  background: red;
  margin: auto;
}

.active > img {
  width: 100%;
}

.gutter-images {
  margin: auto;

}

.gutter-images > img {
  width: 18%;
  float: left;
  margin: 5px;
}
