a, li, ul, html, body, p, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  background: grey;
}

.group:after{
  content: "";
  clear: both;
  display: block;
}

.tabs-wrapper{
  width: 830px;
  margin:auto;
}

.tabs {
  background: white;
}

.tabs > li{
  display: block;
  float: left;

}

.tabs  a {
  display: block;
  padding: 20px;
  margin: 10px;
  border: 2px black solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs .active {
  font-weight: bold;
  background-color: lightgrey;
}


.tab-pane {
  width: 800px;
  margin: auto;
  padding: 15px;
  padding-top: 5px;
  display: none;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#content-tabs {
  margin: auto;
  background: white;
  width: 830px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


#content-tabs .active {
  display: block;
  transition: opacity 0.5s;
}


.transitioning {
  opacity: 0;
  transition: opacity 0.5s;
}
