<head>
  <link href="./carousel.css" rel="stylesheet" type="text/css">
  <script src="../jquery-2.1.4.js"></script>
  <script src="./carousel.js" type="text/javascript">

  </script>
</head>

<body>

  <section class="carousel group">
    <figure class="items">
      <img src="http://placecorgi.com/261/180" />
      <img src="http://placekitten.com/261/180" />
      <img src="http://placecorgi.com/262/180" />
      <img src="http://placekitten.com/262/180" />
      <img src="http://placecorgi.com/263/180" />
      <img src="http://placekitten.com/263/180" />
    </figure>

    <button class="slide-right">Previous</button>
    <button class="slide-left">Next</button>
  </section>

  <script>
    $(function() {
      $(".carousel").carousel();
    })
  </script>
</body>
