a, li, ul, html, body, p, section, figure, button, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
  background: transparent;
  outline: 0;
}

ul {
  list-style: none;
}

.group:after{
  content: "";
  clear: both;
  display: block;
}

.carousel {
  width: 400px;
  height: 260px;
  margin: auto;
}

.items {
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 5px black solid;
}

.items > img {
  width: 100%;
}

.items :not(.active) {
  display: none;
}

.items .active {
  display: block;
  position: absolute;
  left: 0%;
  transition: left 0.5s;
}

.items .right{
  position: absolute;
  left: 100%;
}

.items .left {
  position: absolute;
  left: -100%;
}

button {
  margin-top: 5px;
  padding: 10px;
  background: lightgreen;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100px;
}

button:hover {
  cursor: pointer;
}

.slide-left {
  float: right;
}

.slide-right {
  float: left;
}
